/* css styles */
figure figcaption {
  text-align: center;
}

figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%; /* adjust this value as per your needs */
}

.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%; /* adjust this value as per your needs */
}
